<section class="u-p-sm">
  <app-home-header direction="row"></app-home-header>
  <aside>
    <h3>Forecast</h3>
    <ul>
      <ng-container *ngFor="let item of (selectCurrentForecastDaily$ | async)?.data; index as i">
        <li [ngClass]="{ active: activeIndex === i }">
          <div>
            <h5>{{ item?.datetime | date: "EEEE" }}</h5>
            <span>{{ item?.datetime | date: "MMMM d" }}</span>
          </div>
          <div class="forecast__icon-container">
            <span class="c-weather-icon" [ngStyle]="{ 'background-image': 'url(' + getWeatherIcon(item) + ')' }"></span>
            <span *ngIf="item?.precip > 0">{{ item?.precip | percent }}</span>
          </div>
          <div class="forecast__info-container">
            <span>{{ item?.max_temp| number: "2.0-0" }}&deg;</span>
            <span>{{ item?.min_temp| number: "2.0-0" }}&deg;</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </aside>
</section>
