<section class="u-p-sm">
  <app-home-header direction="row"></app-home-header>
  <div class="c-container u-d-flex u-align-items-stretch u-flex-nowrap u-justify-content-between gap-1">
    <ng-container *ngFor="let item of (selectCurrentForecastDaily$ | async)?.data; index as i">
      <ion-card class="u-w-35 c-card u-shadow--soft" (click)="select(i)" [ngClass]="{'active': activeIndex === i}">
        <ion-card-header>
          <ion-card-title>{{item.datetime | date:'EEEE dd'}}</ion-card-title>
          <ion-card-subtitle>{{item.precip | percent}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="u-d-flex u-flex-column u-jutify-content-center">
            <div><b>{{item.max_temp}}&deg;C</b></div>
            <div><b>{{item.min_temp}}&deg;C</b></div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</section>
