.c-card {
  --color: var(--black);
  --ion-text-color: var(--black);
  --offset-bottom: 0;
  min-height: 20rem;
  margin: 0;
  background-color: var(--white);
  cursor: pointer;
  &.active {
    box-shadow: 0 16px 40px 0 scale-color(#7090B0, $alpha: -80%),
                    0 8px 26px 0 scale-color(#7090B0, $alpha: -90%);
  }
}

.c-container {
  overflow-x: auto;
}

.gap-1 {
  gap: 1rem
}
