.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 4rem;
}
.c-navigation {
  --padding-size: 15px;
  position: absolute;
  bottom: 0;
  left: var(--padding-size);
  right: var(--padding-size);
  margin: 0 auto var(--padding-size);
  background: #fff;
  padding: var(--padding-size) 0;
  border-radius: var(--border-radius);

  ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;
      padding: 0;
      ;

      li {
          a {
              color: var(--text-muted);
          }

          svg {
              fill: var(--text-muted);
              height: var(--svg-dimension);
              width: var(--svg-dimension);
          }
      }
  }
}
