.c-weather-icon {
  --dimensions: 6rem;
  height: var(--dimensions);
  width: var(--dimensions);
  .u-flex-column & {
    --dimensions: 8rem;
  }
  display: flex;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}
