.c-weather-icon {
  --dimensions: 4rem;
  height: var(--dimensions);
  width: var(--dimensions);
  .u-flex-column & {
    --dimensions: 10rem;
    margin-top: -5rem;
    margin-left: 10rem;
  }
  display: flex;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}
