:root {
	--serif: Baskerville, Adobe Caslon Pro, serif;
	--sans-serif: Helvetica Neue, sans-serif;
	--section-width: 60em;
	--margin-regular: 8rem;

  --theme-background: royalblue;

  --theme-grey: linear-gradient(to bottom, #CFD8E0, #6F7892, #3d4159);
  --theme-orange: linear-gradient(to bottom, #EBC769, #EC9011, #ED7201);
  --theme-blue: linear-gradient(to bottom, #3D5CAB, #354799);
}
