<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{tabs.HOME}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>{{tabs.LOCATION}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forecast">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>{{tabs.FORECAST}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
