<div class="u-position-relative" [ngClass]="{'row' : direction !== 'column'}">
  <div class="u-d-flex u-flex-column u-justify-content-between u-p-sm u-flex-row-stretch">
    <app-header [title]="(weatherData$ | async)?.city_name" [className]="direction !== 'column' ? 'row' : ''">
    </app-header>
    <p class="u-mx-0-auto u-m-t-sm">
      <app-badge *ngIf="(weatherData$ | async)?.weather?.description">{{(weatherData$ | async)?.weather?.description}}
      </app-badge>
    </p>
  </div>
  <main class="u-d-flex u-align-items-center" [ngClass]="[direction === 'column' ? 'u-flex-column' : 'row']">
    <span class="c-weather-icon" [ngStyle]="{ 'background-image': 'url(' + (weatherIcon$ | async) + ')' }"></span>
    <h1>
      <ng-container *ngIf="weatherData$ | async">
        {{ (weatherData$ | async).temp }}&deg;C
      </ng-container>
    </h1>
  </main>
</div>
