.u-float-left,
.u-float-right {
  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.u-float-right {
  float: right;
}

.u-float-left {
  float: left;
}
