$spaceamounts: (0: 0, xs: .5, sm: 2, md: 3, lg: 4.5, xl: 7.5); // Adjust this to include the pixel amounts you need.
$axis-sides : (y: (top, bottom), x: (left, right,auto));
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space, $amount in $spaceamounts {
    @each $side in $sides {
        .u-m-#{str-slice($side, 0, 1)}-#{$space} {
            @if $amount != 0 {
                margin-#{$side}: #{$amount}rem;
            } @else {
                margin-#{$side}: #{$amount};
            }
        }

        .u-p-#{$space} {
          @if $amount != 0 {
              padding: #{$amount}rem;
          } @else {
              padding: #{$amount};
          }
      }

        .u-p-#{str-slice($side, 0, 1)}-#{$space} {
            @if $amount != 0 {
                padding-#{$side}: #{$amount}rem;
            } @else {
                padding-#{$side}: #{$amount};
            }
        }
    }
    @each $axis, $a-sides in $axis-sides {
        @if index($list: $a-sides, $value: auto) {
            @if $amount != 0 {
                .u-m#{$axis}-#{$space}-auto  {
                    margin: #{$amount}rem auto;
                }
            } @else {
                .u-m#{$axis}-#{$space}-auto  {
                    margin: #{$amount} auto;
                }
            }
        } @else {
            .u-m-#{$axis}-#{$space}  {
                @each $a-side in $a-sides {
                    @if $amount != 0 {
                        margin-#{$a-side}: #{$amount}rem;
                    } @else {
                        margin-#{$a-side}: #{$amount};
                    }
                }
            }
        }
    }
}

.u-m-l-auto {
  margin-left: auto;
}

.u-m-r-auto {
  margin-right: auto;
}

// width spacers
$widths: 25, 33, 50, 66, 75, 100;
@each $width in $widths {
    .u-w-#{$width} {
        width: #{$width * 1%} !important
    }
}
