<section class="u-p-sm">
  <ng-container [ngTemplateOutlet]="form"></ng-container>
  <ng-template #form>
    <form [formGroup]="searchGroup">
      <fieldset>
        <ion-icon name="search"></ion-icon>
        <div class="autocomplete">
          <ion-searchbar formControlName="city" (ionFocus)="addFocus()" (ionBlur)="removeFocus()" debounce=500>
          </ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let res of predictions | async" (click)="addValue(res)">
              {{res.description}}
            </ion-item>
          </ion-list>
        </div>
      </fieldset>
    </form>
  </ng-template>

  <ng-template #placeholder></ng-template>
</section>
