form {
  --background-color: transparent;
  --text-color: var(--light-gray);
  fieldset {
    --text-color: var(--black);
    --background-color: var(--white);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    background: var(--background-color);
    font-size: 1.4rem;
    transition: background .25s ease-out 0s;
    border-radius: 2rem;
    ion-icon {
      width: 1.2em;
      height: 1.2em;
    }
    // &:focus-within {
    //   --text-color: var(--black);
    //   --background-color: var(--white);
    //   box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    //   0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    //   0 12.5px 10px rgba(0, 0, 0, 0.06),
    //   0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    //   0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    //   0 100px 80px rgba(0, 0, 0, 0.12);
    //   ion-icon {
    //     fill: var(--text-color);
    //   }
    // }

    input {
      width: 100%;
      padding: 1rem;
      margin: 0 1rem;
      background: var(--background-color);
      border: 0 none;
      outline: 0 none;
      color: var(--text-color);
      transition: color .25s ease-out 0s;
      font-size: 1.4rem;
      &::placeholder {
        color: var(--text-color);
      }
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }

.autocomplete {
	width: 100%;

	ion-searchbar {
    padding-left: 0;
    text-indent: 1rem;
    color: black;
    font-size: 1.4rem;
	}

	ion-list {
		position: absolute;
		width: inherit;
		overflow-y: scroll;
		z-index: 999;
    left: 0;
		ion-item {

			img {
				max-height: 2.5rem;
				width: auto;
				margin: auto;
				display: block;
			}
      .item-native {
        background: var(--color-white);
        color: var(--text-color);
        font-size: 1.4rem;
        &:last-child {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
		}

		ion-item:hover {
			cursor: pointer;
			background: #f1f1f1
		}
	}
}
}
