<section class="u-h-100 u-p-l-sm u-p-r-sm u-p-b-md information">
  <div class="u-d-flex u-align-items-start u-justify-content-center u-flex-row-stretch u-p-lg">
    <ul class="u-w-33 u-p-l-md">
      <li><span>feels like</span><span>{{(weatherData$ | async)?.app_temp}}&deg;C</span></li>
      <li><span>precipation</span><span>{{(weatherData$ | async)?.precip}} mm/hr</span></li>
    </ul>
    <ul class="u-w-33 u-p-l-md">
      <li><span>wind speed</span><span>{{(weatherData$ | async)?.wind_cdir}}
          {{(weatherData$ | async)?.wind_spd | convert: ['mps', 'kmh'] }}</span></li>
      <li><span>uv index</span><span>{{(weatherData$ | async)?.uv | number:'1.0-1'}}</span></li>
      <li><span>humidity</span><span>{{(weatherData$ | async)?.rh | number:'2.0-1'}}%</span></li>
    </ul>
    <ul class="u-w-33 u-p-l-md">
      <li>
        <span>sunrise</span><span>{{(sunTime$ | async)?.sunrise.hour }}:{{(sunTime$ | async)?.sunrise.minutes }}</span>
      </li>
      <li>
        <span>sunset</span><span>{{(sunTime$ | async)?.sunset.hour }}:{{(sunTime$ | async)?.sunset.minutes }}</span>
      </li>
      <li><span>air quality</span><span>{{(weatherData$ | async)?.aqi}}</span></li>
    </ul>
  </div>
</section>
