<section class="u-h-100 u-p-l-sm u-p-r-sm u-p-b-md">
  <ion-content >
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ul>
          <li><span>TEMP.</span><span>{{(weatherData$ | async)?.temp}}&deg;C</span></li>
          <li><span>FEELS LIKE</span><span>{{(weatherData$ | async)?.app_temp}}&deg;C</span></li>
          <li><span>PRECIP.</span><span>{{(weatherData$ | async)?.precip}}%</span></li>
          <li><span>WIND SPEED</span><span>{{(weatherData$ | async)?.wind_cdir}} {{(weatherData$ | async)?.wind_spd | convert: ['mps', 'kmh']}}</span></li>
        </ul>
      </ion-slide>
      <ion-slide>
        <ul>
          <li><span>SUNRISE</span><span>{{(weatherData$ | async)?.sunrise }}</span></li>
          <li><span>SUNSET</span><span>{{(weatherData$ | async)?.sunset }}</span></li>
          <li><span>UV</span><span>{{(weatherData$ | async)?.uv}}</span></li>
          <li><span>HUMIDITY</span><span>{{(weatherData$ | async)?.rh}}%</span></li>
          <li><span>AIR QUALITY</span><span>{{(weatherData$ | async)?.aqi}}</span></li>
        </ul>
      </ion-slide>
      <ion-slides>
        <h1>Slide 3</h1>
      </ion-slides>
    </ion-slides>
  </ion-content>
</section>
